.footer__description{
  text-align: center;
  font-size: 1.4rem;
}

.footer__attribute{
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.footer__attribute a{
  color: var(--yellow);
  text-decoration: underline;
}
