:root{
  --bg-black: #181A1B;
  --bg-gray: #272A2C;
  --text: #fff;
  --text-gray: #828282;
  --yellow: #E3C567
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--bg-gray);
  font-family: "Open Sans", sans-serif;
  color: var(--text);
}

header{
  background-color: var(--bg-black);
  display: flex;
  align-items: center;
  padding: 3.2rem 6.4rem;
}

main{
  padding: 4% 6%;
  display: flex;
}

footer{
  background-color: var(--bg-black);
  padding: 4rem;
}

.title{
  text-align: center;
  font-size: 3.4rem;
  margin-bottom: 2.5rem;
  font-family: 'Merriweather', serif;
}

.subtitle{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Merriweather', serif;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card{
  background-color: var(--bg-black);
  border-radius: 8px;
  width: 32%;
  margin: 0 1.2rem 1.2rem 0;
}

.card__title{
  font-size: 2.4rem;
  font-weight: bold;
}

.button{
  border: 2px solid var(--yellow);
  border-radius: 8px;
  color: var(--yellow);
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2rem 0;

  transition: .2s all;
}

.button:hover{
  color: var(--bg-black);
  background-color: var(--yellow);
}

.line{
  width: 80px;
  border-top: 2px solid var(--yellow);
}